@model IEnumerable<Law_Office_Management.Models.Client>

@{
    ViewData["Title"] = "Clients";
}

<h2>Clients</h2>
@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">@TempData["Error"]</div>
}

<p>
    <a asp-action="Create" class="btn btn-primary">➕ Add New Client</a>
</p>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Address</th>
            <th>National ID </th>
            <th>Actions</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FullName</td>
                <td>@item.Phone</td>
                <td>@item.Email</td>
                <td>@item.Address</td>
                <td>@item.NationalId</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ClientId" class="btn btn-sm btn-warning">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.ClientId" class="btn btn-sm btn-info">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.ClientId" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
